/* Global rules */
:root {
    --button-back-color: #F60C0C;
    --button-fore-color: #FFFFFF;
}


/* Display body */
html {
    /* https://fonts.google.com/ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: block;
    height: 100%;
    margin: 20px 0 0 0;
}

header {
    margin: 0 15px;
}

footer {
    text-align: center;
}

section {
    text-align: center;
    margin: 0 auto;
}

h1 {
    align-items: center;
    font-weight: bold;
    height: 100px;
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}


/* Form Stylings
input[type=checkbox] {

} */

form {
    margin: inherit;
    padding: 5px;
    /* Width of form */
    width: 500px;
}

fieldset {
    border-style: hidden;
    text-align: left;
}

select {
    margin: 0 0 8px;
    padding: 0 8px;
    width: 200px;
}

/* Format checkboxes and radio buttons:
   remove bullet points from lists of checkbox or radio buttons */
ul.checkboxes, ul.radios {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#label-select {
    display: block;
    width: 225px;
}


/* Button styles */
.btn {
    border: 1px solid #FFFFFF;
}
