body {
    display: block;
    height: 100%;
    margin: 20px 0 0 0;
}

html {
    /* https://fonts.google.com/ */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
    margin: inherit;
    padding: 5px;
    /* Width of form */
    width: 500px;
}

footer {
    text-align: center;
}

section {
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

/* Format checkboxes and radio buttons:
   remove bullet points from lists of checkbox or radio buttons */
ul.checkboxes, ul.radios {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
